# ----------------------------------------------------------------------
# Static Asset Caching
# ----------------------------------------------------------------------

<IfModule mod_headers.c>
  Header set Cache-Control "public, max-age=2592000"
</IfModule>
